body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.pages {
  text-align: right;
  margin-bottom: 10px;
}

.warning {
  color: #ffd04b;
}

.success {
  color: #1aad19;
}

.normal {
  color: #666;
}

.danger {
  color: #fa5555;
}


/* flex */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}


/* loading */

.loading-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.loading-wrap>i {
  font-size: 36px;
}


/* element */

.el-container {
  width: 100%;
  height: 100%;
}
